<html>
        <head>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
                </head>
    <style>
    .custom{
        min-height: 150px;
        background-color: aliceblue;
    }
    </style>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            
          </div>
          <ul class="nav navbar-nav">
            <% for(let i=0;i<nav.length;i++){%>
            <li><a href=<%=nav[i].link%> > <%= nav[i].title%> </a>
             </li>
             <% };%>
           
          </ul>
        </div>
      </nav>
      <body>
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="custom">
                
                    <form action="/orders/getupdate" method="POST">
                        <div class="form-group">
                        <label> Employee Id</label>
                        <input type="text" name="id" class="form-control">
                    </div>
                     
                      
                          <input type="submit" value="Edit" class="btn btn-primary">
                      </form>

            </div>
        </div>
    </div>
</div>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>